<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザーの編集</div>
    <%= form_with model:@user do |f|%>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error"><%= message %></div>
        <% end %>
        <%= f.label :name, 'ユーザー名'%><br>
        <%=f.text_field :name %><br>
        <%= f.label :email, 'メールアドレス'%><br>
        <%=f.email_field :email %><br>
        <%= f.label :password_digest, 'パスワード'%><br>
        <%=f.password_field :password_digest %><br>
        <%= f.submit "保存"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
